* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  font-size: 21px;
}

// NEW CSS
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 700;
}

h2 {
  font-size: 38px;
}

.disable {
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.section {
  max-width: 1080px;
  margin: auto;
  padding: 0px 16px;
}

.arrow {
  padding-left: 10px;
}

.hero-container {
  width: full;
  background-color: #441fff;
  color: white;

  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;

    .logo {
      width: 120px;
      height: auto;
    }

    .navigation ul {
      display: flex;
      list-style: none;
      font-family: "Poppins", sans-serif;
      font-weight: 500;

      li:last-of-type {
        margin-left: 32px;
        cursor: not-allowed;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .hero {
    max-width: 1080px;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 40px;
    p {
      width: 50%;
      margin-top: 80px;
    }

    a {
      display: inline-block;
      margin: 24px 0;
      padding: 8px 16px 8px 20%;
      background-color: white;
      border-radius: 0px 200px 200px 0px;
      color: black;
      font-weight: bold;
      border: none;
      text-decoration: none;
    }
  }

  .right-title-img {
    width: 341px;
    height: 96px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 27px;
    background-color: #9fa0ff;
    border-radius: 200px 0% 0% 200px;
    .upperbody {
      width: 300px;
      margin-top: -75px;
      margin-left: 41px;
    }
  }
  .left-title-img {
    width: 361px;
    height: 96px;
    display: inline-block;
    margin-right: 27px;
    vertical-align: bottom;
    background-color: #5a60ff;
    border-radius: 0px 200px 200px 0px;
    .legs {
      width: 200px;
      margin-top: -24px;
    }
  }
}

.features {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;

  .feature {
    width: 300px;
    .feature-name {
      margin-bottom: 8px;
    }
    .feature-name::before {
      width: 32px;
      height: 40px;
      margin-right: 8px;
      background-color: #ffb400;
      content: "";
      display: inline-block;
      border-radius: 840px;
    }
  }
}
.features ::selection {
  background: #ffb400;
}

.tab-hidden {
  display: none;
}

.tab-visible {
  display: block;
  width: full;
}

.plan-builder {
  section {
    border-top: 2px solid rgb(229, 229, 229);
  }
  .tab-nav {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 16px 40px;
  }
  .active {
    border-bottom: 2px solid #441fff;
    color: #441fff;
    font-weight: bold;
    margin-bottom: -2px;
  }
  .tab-body {
    padding: 40px 60px 0 60px;
  }
}

.start-stretching-btn {
  display: block;
  float: right;
  margin: 24px 0 88px 0;
  padding: 8px 20% 8px 32px;
  background-color: #441fff;
  border-radius: 200px 0px 0px 200px;
  color: white;
  font-weight: bold;
  border: none;
  text-decoration: none;
}

.exercise-bar {
  display: flex;
  align-items: center;
  .order {
    width: 16px;
  }
  input {
    width: 60%;
  }
}
.exercise-bar > * {
  margin: 16px 16px;
}

.full-screen {
  width: 100vw;
  min-height: 100vh;
  color: white;
  padding: 20px 0 0 40px;
  button {
    display: inline-block;
    margin: 24px 0;
    padding: 8px 16px 8px 20%;
    background-color: white;
    border-radius: 0px 200px 200px 0px;
    color: black;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  .counter {
    font-size: 320px;
    font-weight: bold;
  }
  .display-name {
    font-size: 80px;
  }
}
.style-on {
  background-color: #441fff;
}

.style-off {
  background-color: black;
  color: white;
}

.next-up {
  font-size: 80px;
}

//OLD CSS

/*
$myblack: #333333;
$darkPink: #ffa2a2;
$darkCyan: #00cccc;

// INTRO

.intro-container-wide {
  background-color: #f9caca;
  display: flex;
  justify-content: center;
  color: $myblack;
  .intro-container {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .intro {
      width: 400px;
      height: 210px;
      margin-top: 150px;
      h1 {
        margin-bottom: 10px;
        font-family: MuseoModerno, sans-serif;
        color: white;
        font-size: 4rem;
        line-height: 60px;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .introImg {
      width: 300px;
      height: 350px;
    }
  }
}

// RESPONSIVE INTRO

@media only screen and (min-width: 1500px) {
  .intro-container {
    max-width: 1500px;
  }
}
@media only screen and (max-width: 850px) {
  .intro-container-wide {
    height: 1000px;
    .intro-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 520px) {
  .intro-container-wide {
    .intro-container {
      .intro {
        width: 260px !important;
        height: 210px;
        margin-top: 150px;
        h1 {
          margin-bottom: 10px;
          font-size: 2.5rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
      .introImg {
        width: 200px !important;
        height: 250px !important;
      }
    }
  }
}

// ROUTINE
.routinebuilder-container-wide {
  background-color: $darkPink;
  display: flex;
  justify-content: center;
  color: $myblack;
  .routinebuilder-container {
    width: 100vw;
    height: 1100px;
    h1 {
      text-align: center;
      font-family: MuseoModerno, sans-serif;
      color: white;
      font-size: 4rem;
      margin: 100px 0 50px 0;
    }
    input {
      width: 120px;
      padding: 2px;
      &:focus {
        outline: none;
      }
    }
    select {
      width: 120px;
      &:focus {
        outline: none;
      }
    }
    .exerciseContainer {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .square {
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        margin: 0 10px 20px 10px;
        transition: transform 0.4s;
      }
      .editExButton {
        font-size: 1.6rem;
        font-family: MuseoModerno, sans-serif;
        background-color: $darkCyan;
        margin: 0;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background-color: cyan;
          transform: scale(1.1, 1.1);
        }
      }
      .editExerciseButton-editMode {
        background-color: cyan;
        button {
          padding: 2px;
          width: 120px;
          cursor: pointer;
        }
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
      .exerciseBar {
        background-color: #f8f8f8;
        transition: all 0.4s;
        &:hover {
          transform: scale(1.1, 1.1);
          background-color: white;
        }
        .editButton {
          color: $myblack;
          transition: color 0.4s;
          &:hover {
            color: #00cccc;
            cursor: pointer;
          }
        }
        .deleteButton {
          color: $myblack;
          transition: color 0.4s;
          &:hover {
            color: #b91515;
            cursor: pointer;
          }
        }
      }
    }

    .nextPage {
      width: 280px;
      margin: 20px auto 20px auto;
      text-align: center;
      .startTimerLink {
        text-decoration: none;
        color: $myblack;
        font-size: 1.4rem;
        font-family: MuseoModerno, sans-serif;
        .arrow {
          border: solid $myblack;
          border-width: 0 5px 5px 0;
          display: inline-block;
          padding: 3px;
        }
        .right {
          transform: rotate(-45deg);
        }
      }
    }
    img {
      width: 500px;
    }
  }
}

// RESPONSIVE ROUTINE
@media only screen and (min-width: 1500px) {
  .routinebuilder-container {
    max-width: 1500px;
  }
}
@media only screen and (max-width: 850px) {
  .routinebuilder-container-wide {
    height: 1200px;
  }
}
@media only screen and (max-width: 510px) {
  .routinebuilder-container-wide {
    .routinebuilder-container {
      h1 {
        font-size: 2.5rem !important;
      }
      img {
        display: none;
      }
    }
  }
}

// TIMER

.fullTimerWindow {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;
  h3 {
    font-size: 8vw;
    padding-top: 5vh;
  }
  h4 {
    font-size: 2vw;
  }
  p {
    font-size: 8vw;
  }
  .timerText {
    padding-top: 100px;
    width: 100%;
    .countdownButton {
      font-family: MuseoModerno, sans-serif;
      font-size: 3vw;
      border-radius: 10px;
      padding: 0 10px;
      cursor: pointer;
      background-color: $darkCyan;
    }
  }
}
.styleOn {
  color: black;
  background-image: url("../public/images/candleOn.png");
}
.styleOff {
  color: white;
  background-image: url("../public/images/candleOff.png");
}

@media only screen and (max-width: 415px) {
  .fullTimerWindow {
    h3 {
      font-size: 10vw;
    }
    h4 {
      font-size: 4vw;
    }
    p {
      font-size: 15vw;
    }
    .timerText {
      padding-top: 100px;
      .countdownButton {
        font-size: 6vw;
      }
    }
  }
}
*/
