* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}

$myblack: #333333;
$darkPink: #ffa2a2;
$darkCyan: #00cccc;

// INTRO
.intro-container-wide {
  background-color: #f9caca;
  display: flex;
  justify-content: center;
  color: $myblack;
  .intro-container {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .intro {
      width: 400px;
      height: 210px;
      margin-top: 150px;
      h1 {
        margin-bottom: 10px;
        font-family: MuseoModerno, sans-serif;
        color: white;
        font-size: 4rem;
        line-height: 60px;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .introImg {
      width: 300px;
      height: 350px;
    }
  }
}

// RESPONSIVE INTRO

@media only screen and (min-width: 1500px) {
  .intro-container {
    max-width: 1500px;
  }
}
@media only screen and (max-width: 850px) {
  .intro-container-wide {
    height: 1000px;
    .intro-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 520px) {
  .intro-container-wide {
    .intro-container {
      .intro {
        width: 260px !important;
        height: 210px;
        margin-top: 150px;
        h1 {
          margin-bottom: 10px;
          font-size: 2.5rem !important;
        }
        p {
          font-size: 1rem !important;
        }
      }
      .introImg {
        width: 200px !important;
        height: 250px !important;
      }
    }
  }
}

// ROUTINE
.routinebuilder-container-wide {
  background-color: $darkPink;
  display: flex;
  justify-content: center;
  color: $myblack;
  .routinebuilder-container {
    width: 100vw;
    height: 1100px;
    h1 {
      text-align: center;
      font-family: MuseoModerno, sans-serif;
      color: white;
      font-size: 4rem;
      margin: 100px 0 50px 0;
    }
    input {
      width: 120px;
    }
    select {
      width: 120px;
    }
    .exerciseContainer {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .square {
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        margin: 0 10px 20px 10px;
        transition: transform 0.4s;
      }
      .editExerciseButton-nonEditMode {
        border-radius: 20px;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
      .editExButton {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        cursor: pointer;
        font-family: MuseoModerno, sans-serif;
        background-color: $darkCyan;
        border: none;
        transition: background-color 0.4s;
        &:hover {
          background-color: cyan;
        }
      }
      .editExerciseButton-editMode {
        background-color: cyan;
        button {
          width: 120px;
          cursor: pointer;
        }
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
      .exerciseBar {
        background-color: #f8f8f8;
        transition: all 0.4s;
        .editButton {
          color: $myblack;
          transition: color 0.4s;
          &:hover {
            color: #00cccc;
            cursor: pointer;
          }
        }
        .deleteButton {
          color: $myblack;
          transition: color 0.4s;
          &:hover {
            color: #b91515;
            cursor: pointer;
          }
        }
        &:hover {
          transform: scale(1.1, 1.1);
          background-color: white;
        }
      }
    }

    .nextPage {
      width: 280px;
      margin: 20px auto 20px auto;
      text-align: center;
      .startTimerLink {
        text-decoration: none;
        color: $myblack;
        font-size: 1.4rem;
        font-family: MuseoModerno, sans-serif;
        .arrow {
          border: solid $myblack;
          border-width: 0 5px 5px 0;
          display: inline-block;
          padding: 3px;
        }
        .right {
          transform: rotate(-45deg);
        }
      }
    }
    img {
      width: 500px;
    }
  }
}

// RESPONSIVE ROUTINE
@media only screen and (min-width: 1500px) {
  .routinebuilder-container {
    max-width: 1500px;
  }
}
@media only screen and (max-width: 850px) {
  .routinebuilder-container-wide {
    height: 1500px;
  }
}
@media only screen and (max-width: 520px) {
  .routinebuilder-container-wide {
    .routinebuilder-container {
      h1 {
        font-size: 2.5rem !important;
      }
    }
  }
}

// TIMER

.fullTimerWindow {
  font-family: MuseoModerno, sans-serif;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;

  h3 {
    font-size: 10vw;
    padding-top: 5vh;
  }

  p {
    font-size: 10vw;
  }
}

.timerText {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 500px;
}
.countdownButton {
  font-family: MuseoModerno, sans-serif;
  background-color: black;
  border: none;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  border-radius: 20px;
}

@media only screen and (max-width: 415px) {
  .fullTimerWindow {
    h3 {
      font-size: 6vh;
      padding-top: 5vh;
    }
    p {
      font-size: 15vh;
    }
  }
  .timerText {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 500px;
  }
  .countdownButton {
    font-size: 4vh;
  }
}
